<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
    <button (click)="menuOpen = true" class="ui-button flat icon" uiRipple>
        <i class="material-icons">menu</i>
    </button>
    <div class="logo">
        Loja
    </div>
    <span class="title">{{title}}</span>
    <div class="align-right">
        <div class="avatar" [uiMenuTrigger]="menuUser" menu-align="right" theme-class="menu-user" [ngStyle]="{'background-color': user.cor ? user.cor : 'white',
                         'color': isBright(user.cor) ? 'black': 'white'}">
            <span *ngIf="user && user.nome">{{user.nome.charAt(0)}}</span>
        </div>
    </div>
</ui-toolbar>

<ui-nav-drawer [(open)]="menuOpen">
    <ui-toolbar class="flat">
        <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
            <i class="material-icons">menu</i>
        </button>
        <div class="logo">
            Loja
        </div>
    </ui-toolbar>
    <div class="ui-nav-drawer-overflow">
        <div class="ui-list">
            <a class="ui-list-item" uiRipple routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <i class="material-icons" style="margin-right: 10px">home</i>
                Início
            </a>
            <a class="ui-list-item" uiRipple routerLink="usuario">
                <i class="material-icons" style="margin-right: 10px">person</i>
                Usuário
            </a>
            <a class="ui-list-item" uiRipple routerLink="peca">
                <i class="material-icons" style="margin-right: 10px">loyalty</i>
                Peça
            </a>
        </div>
    </div>
</ui-nav-drawer>

<router-outlet></router-outlet>

<ui-menu #menuUser>
    <header>
        <div class="avatar" [uiMenuTrigger]="menuUser" menu-align="right" [ngStyle]="{'background-color': user.cor ? user.cor : 'white',
                         'color': isBright(user.cor) ? 'black': 'white'}">
            <span>{{user.nome?.charAt(0)}}</span>
        </div>
        <div class="primary-text">{{user.nome}}</div>
    </header>
    <div class="ui-menu-content size-3x">
        <div class="ui-menu-item" uiRipple (click)="logoff()">
            Sair
        </div>
    </div>
</ui-menu>