@mixin avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 12px;
    cursor: default;
    user-select: none;
}

:host {
    > /deep/ ui-nav-drawer ui-list .ui-list {
        padding: 0;
    }

    > ui-toolbar .avatar {
        @include avatar;
    }
}

/deep/ .menu-user {
    header {
        display: flex;
        align-items: center;
    }
    .avatar {
        @include avatar;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
