<div class="ui-s480">
    <form #formPeca="ngForm" class="ui-validate on-dirty on-submit" (submit)="onSubmit(formPeca)">
        <ui-card class="elevate-on-toolbar" [class.loading]="loading">
            <div class="ui-progress accent" [class.hide]="!loading">
                <div class="indeterminate"></div>
            </div>
            <ui-toolbar class="flat">
                <button class="ui-button flat icon" type="button" uiRipple (click)="_location.back()">
                    <i class="material-icons">arrow_back</i>
                </button>
                <span class="title">{{newRegister ? 'Nova peça' : (loading ? 'Carregando' : 'Alterando ' + (info.nome || 'peça'))}}</span>
            </ui-toolbar>
            <fieldset [disabled]="saving || loading">
                <ui-card-content>
                    <div>
                        <input type="file" name="input" uiInputFile [(ngModel)]="info.imagemPath" [read]="changeImagem.bind(this)" [error]="changeImagemError.bind(this)"
                            #inputNovaImagem #fieldNovaImagem="ngModel" accept="jpg,jpeg,png" max-file-size="15MB" hidden>
                        <div class="picture">
                            <div *ngIf="!info.imagem && !info.novaImagem" (click)="inputNovaImagem.click()">
                                <span *ngIf="info.nome">{{info.nome.substring(0, 1)}}</span>
                                <i *ngIf="!info.nome" class="material-icons">person</i>
                            </div>
                            <div *ngIf="info.imagem || info.novaImagem" [style.background-image]="'url(' + (info.novaImagem || info.imagem) + ')'"></div>
                            <button type="button" class="ui-button icon raised accent" uiRipple [uiMenuTrigger]="menuPicture" align="left">
                                <i class="material-icons">photo_camera</i>
                            </button>
                        </div>
                    </div>

                    <div class="ui-flex-container">
                        <ui-input-container>
                            <input #fieldNome="ngModel" type="text" [(ngModel)]="info.nome" uiInput name="nome" required uiMaxlength="50">
                            <label>Nome</label>
                            <div class="ui-messages">
                                <div *ngIf="fieldNome.errors && fieldNome.dirty">
                                    <div class="ui-message error" [hidden]="!fieldNome.pristine && !fieldNome.errors.required">
                                        Nome é obrigatório
                                    </div>
                                    <div class="ui-message counter error" [hidden]="!fieldNome.errors.uiMaxlength">
                                        {{info.nome ? info.nome.length : 0}}/50
                                    </div>
                                </div>
                            </div>
                        </ui-input-container>
                    </div>

                    <div class="ui-flex-container">
                        <ui-input-container>
                            <ui-select #fieldTipoPeca="ngModel" name="idTipoPeca" [(ngModel)]="info.idTipoPeca" [chosen]="true" [options]="tiposPeca"
                                value="_id" label="nome" uiInput required id="inputTipoPeca"></ui-select>
                            <label for="inputCargo">
                                {{!tipoPecaLoading ? 'Tipo de Peça' : 'Carregando tipos de peça'}}
                            </label>
                            <div class="ui-messages">
                                <div *ngIf="fieldTipoPeca.errors && fieldTipoPeca.dirty">
                                    <div class="ui-message error" [hidden]="!fieldTipoPeca.pristine && !fieldTipoPeca.errors.required">
                                        Insira um tipo de peça
                                    </div>
                                </div>
                            </div>
                        </ui-input-container>
                    </div>

                    <div class="ui-flex-container">
                        <ui-input-container>
                            <input #fieldCor="ngModel" id="tamanho" type="text" [(ngModel)]="info.tamanho" uiInput name="tamanho" required uiMaxlength="255">
                            <label>Tamanho</label>
                            <div class="ui-messages">
                                <div *ngIf="fieldCor.errors && fieldCor.dirty">
                                    <div class="ui-message error" [hidden]="!fieldCor.pristine && !fieldCor.errors.required">
                                        Tamanho é obrigatório
                                    </div>
                                </div>
                            </div>
                        </ui-input-container>
                    </div>

                    <div class="ui-flex-container">
                        <ui-input-container>
                            <input #fieldValor="ngModel" id="valor" type="text" [(ngModel)]="info.valor" uiInput name="valor" required uiMaskCurrency>
                            <label>Valor</label>
                            <div class="ui-messages">
                                <div *ngIf="fieldValor.errors && fieldValor.dirty">
                                    <div class="ui-message error" [hidden]="!fieldValor.pristine && !fieldValor.errors.required">
                                        Valor é obrigatório
                                    </div>
                                </div>
                            </div>
                        </ui-input-container>
                    </div>

                    <div class="ui-flex-container">
                        <ui-input-container>
                            <input #fieldCor="ngModel" id="cor" type="text" [(ngModel)]="info.cor" uiInput name="cor" required uiMaxlength="255">
                            <label>Cor</label>
                            <div class="ui-messages">
                                <div *ngIf="fieldCor.errors && fieldCor.dirty">
                                    <div class="ui-message error" [hidden]="!fieldCor.pristine && !fieldCor.errors.required">
                                        Cor é obrigatória
                                    </div>
                                </div>
                            </div>
                        </ui-input-container>
                    </div>


                </ui-card-content>
            </fieldset>
        </ui-card>

        <div class="ui-fab-container">
            <button class="ui-button success fab" uiRipple [class.hide]="loading">
                <ui-progress-radial class="indeterminate" *ngIf="saving"></ui-progress-radial>
                <i class="material-icons">check</i>
            </button>
        </div>
    </form>

    <ui-menu #menuPicture>
        <div class="ui-menu-content size-2x">
            <div class="ui-menu-item" uiRipple (click)="inputNovaImagem.click()">
                <i class="icon material-icons">add_a_photo</i>
                {{!info.imagem && !info.novaImagem ? 'Selecionar imagem' : 'Nova imagem'}}
            </div>
            <div class="ui-menu-item" uiRipple *ngIf="info.imagem || info.novaImagem" (click)="info.novaImagem = null; info.imagem = null; inputNovaImagem.value = ''">
                <i class="icon material-icons">delete</i>
                Remover
            </div>
        </div>
    </ui-menu>
</div>