@import '~ng-smn-ui/lib/core/variables';

:host {
    ui-card {
        position: relative;
        /deep/ {
            header {
                background-color: ui-color('white');
                color: ui-text-color('white');
            }

            .ui-button.search {
                position: relative;
                i {
                    position: absolute;
                    left: 6px;
                    top: 6px;
                    transition: transform 280ms ui-easing('deceleration'),
                    opacity 280ms ui-easing();
                    opacity: 0;

                    &:nth-of-type(1) {
                        transform: rotate(180deg);
                    }

                    &:nth-of-type(2) {
                        transform: rotate(-180deg);
                    }

                    &.show {
                        transform: rotate(0);
                        opacity: 1;
                    }
                }
            }
        }
        margin-bottom: 20px;

        .ui-progress {
            position: absolute;
        }
    }

    /deep/ form[name="searchForm"] {
        transition: all 280ms ui-easing('deceleration');
        position: absolute;
        right: 60px;
        left: 100%;
        top: 14px;

        ui-input-container {
            width: 100%;

            .ui-input-wrap {
                padding-top: 0;
                margin-bottom: 0;

                input::-webkit-input-placeholder {
                    transition: color 280ms ui-easing('deceleration');
                }
            }
        }

        &:not(.open) ui-input-container .ui-input-wrap input::-webkit-input-placeholder {
            color: transparent;
        }

        &.open {
            left: 65px;
        }
    }

    ui-toolbar {
        .title {
            transition: opacity 280ms ui-easing('deceleration'),
            transform 280ms ui-easing('deceleration');

            &.hide {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
    }
}
